me="aspnet_compiler.Resources, Version=2.0.50215.312, PublicKeyToken=b03f5f7f11d50a3a"
      order="0xd8f000"
      />
  <component
      name="aspnet_regsql.Resources.ManifestResources, Version=2.0.50215.312, PublicKeyToken=b03f5f7f11d50a3a"
      order="0xd90000"
      />
  <component
      name="aspnet_regsql.Resources, Version=2.0.50215.312, PublicKeyToken=b03f5f7f11d50a3a"
      order="0xd91000"
      />
  <component
      name="aspnet_regsql.ManifestResources, Version=2.0.50215.312, PublicKeyToken=b03f5f7f11d50a3a"
      order="0xd92000"
      />
  <component
      name="aspnet_regsql, Version=2.0.50215.312, PublicKeyToken=b03f5f7f11d50a3a"
      order="0xd93000"
      />
  <component
      name="aspnet_compiler.Mani