mlns:dev="http://schemas.microsoft.com/maml/dev/2004/10">
	<command:details>
		<command:name>
                   Start-Process
		</command:name>
		<maml:description>
			<maml:para>Starts one or more processes on the local computer.</maml:para>
		</maml:description>
		<maml:copyright>
			<maml:para></maml:para>
		</maml:copyright>
		<command:verb>Start</command:verb>
		<command:noun>Process</command:noun>
		<dev:version></dev:version>
	</command:details>
	<maml:description>
		<maml:para>Starts one or more processes on the local computer.  To specify the program that runs in the process, enter an executable file or script file, or a file that can be opened by using a program on the computer. If you specify a non-executable file, Start-Process starts the program that is associated with the file, much like the Invoke-Item cmdlet.

You can use the parameters of Start-Process to specify options, such as loading a user profile, starting the process in a new window, or using alternate credentials.</maml:para>
	</maml:description>
	<!-- Cmdlet syntax section-->
	<command:syntax>
		<command:syntaxItem>
			<maml:name>Start-Process</maml:name>
			<command:parameter required="true" variableLength="false" globbing="false" pipelineInput="false" position="1">
				<maml:name>FilePath</maml:name>
				<maml:description>
					<maml:para>Specifies the path (optional) and file name of the program that runs in the process. Enter the name of an executable file or of a document, such as a .txt or .doc file, that is associated with a program on the computer. This parameter is required.

If you specify only a file name, use the WorkingDirectory parameter to specify the path.</maml:para>
				</maml:description>
				<command:parameterValue required="true" variableLength="false">string</command:parameterValue>
			</command:parameter>
			<command:parameter required="false" variableLength="true" globbing="false" pipelineInput="false" position="2">
				<maml:name>ArgumentList</maml:name>
				<maml:description>
					<maml:para>Specifies parameters or parameter values to use when starting the process.  The parameter name (&quot;Arguments&quot;) is optional.</maml:para>
				</maml:description>
				<command:parameterValue required="true" variableLength="true">string[]</command:parameterValue>
			</command:parameter>
			<command:parameter required="false" variableLength="false" globbing="false" pipelineInput="false" position="named">
				<maml:name>Credential</maml:name>
				<maml:description>
					<maml:para>Specifies a user account that has permission to perform this action. Type a user-name, such as &quot;User01&quot; or &quot;Domain01\User01&quot;, or enter a PSCredential object, such as one from the Get-Credential cmdlet. By default, the cmdlet uses the credentials of the current user.</maml:para>
				</maml:description>
				<command:parameterValue required="true" variableLength="false">PSCredential</command:parameterValue>
			</command:parameter>
			<command:parameter required="false" variableLength="false" globbing="false" pipelineInput="false" position="named">
				<maml:name>LoadUserProfile</maml:name>
				<maml:description>
					<maml:para>Loads the Windows user profile stored in the HKEY_USERS registry key for the current user. The default value is FALSE.

This parameter does not affect the Windows PowerShell profiles. (See about_Profiles.)</maml:para>
				</maml:description>
			</command:parameter>
			<command:parameter required="false" variableLength="false" globbing="false" pipelineInput="false" position="named">
				<maml:name>NoNewWindow</maml:name>
				<maml:description>
					<maml:para>Prevents the process from running in a new window. By default, the process runs in a new window.</maml:para>
				</maml:description>
			</command:parameter>
			<command:p